<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h4 class="teste">AQUI FICARA O ANIME COM A DESCRIÇAO DELE REDIRECIONANDO PRA PAGINA DE EPISODIOS</h4>
</body>
=======
    <link rel="stylesheet" href="/css/stilo.css">
    
    <input type="button" value="Retorna a Pagina Anterior" onClick="history.go(-1)"> 

    <body>
    
   
    <h1> DESCRIÇÃO</h1>

           <body>
            <h1>PIKACHU</h1>
            <div class="container stretch">
            
            <div class="item">
                         
      
      <h1>DESCRIÇÃO:</h1>
      <p> Pikachu é um pokémon de cor Amarelada.
        Pokémon tipo elétrico são fortes contra
        pokémon do tipo Água, Voador mas eles 
        são fracos contra pokémon do tipo Elétrico.</p>
    
        <div class="container flex-start">
          <div class="item1">
              
              <table border="6"= "center">
               <tr>
                <th>Caracteristicas</th>
             </tr>
             <tr>
                 <td>Altura:  0.4m </td>
             </tr>
             <tr>
                <td>Peso: 6kg</td>
            </tr>
            <tr>
                <td>Categoria: eletrico</td>
            </tr>
            <tr>
                <td>Habilidade:<br>
                    velocidade -- 90<br>
                    ataque -- 55 <br>
                    defesa -- 40 <br>
                    ataque especial -- 50<br>
                    defesa especial -- 50<br>
                </td>
    
            </tr>
        
              </table>
      
             
             
           
    </div>
    
    <h1>EEVEE</h1>
    <div class="container flex-end">
        <div class="item">
           
       
        <h2>DESCRIÇÃO:</h2>
    <p> Eevee é um dos Pokémon mais populares da franquia,
        seja pela presença em várias das gerações da série
        ou pela variedade de tipos que o monstrinho evolui.</p>
    
    
    <div class="container center">
      <div class="item">
          
          <table border="6"= "center">
           <tr>
            <th>Caracteristicas</th>
         </tr>
         <tr>
             <td>Altura:  0.4m </td>
         </tr>
         <tr>
            <td>Peso: 6kg</td>
        </tr>
        <tr>
            <td>Categoria: eletrico</td>
        </tr>
        <tr>
            <td>Habilidade:<br>
                velocidade -- 90<br>
                ataque -- 55 <br>
                defesa -- 40 <br>
                ataque especial -- 50<br>
                defesa especial -- 50<br>
            </td>
    
        </tr>
    
          </table>
    
    
   
    
    </div>
        

    

 </body>
    

>>>>>>> eb920fbbd6c4ffefc0a463ad245a46886a78cad4
</html>