<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro</title>
</head>

<body>
    <header class="header">
        <a href="/">Home|</a>
        <!-- <nav>
          <ul class="menu">
            <li><a href="animes">Animes|</a></li>
            <li><a href="criar">Cadastro|</a></li>
            <li><a href="personagens">Personagens|</a></li>

          </ul>
        </nav> -->
      </header>
    <section id="inscrever">

        <form method="POST">
           
            <div>
                <label for="nome">Nome: </label>
                <input type="nome" name="pers_name" id="nome" placeholder="Digite o nome" required>
            </div>
            <div>
                <label for="imagem">Imagem: </label>
                <input type="imagem" name="ima_url" id="imagem" placeholder="Coloque a url da imagem" required>
            </div>
            <div>
                <label for="raca">Raça: </label>
                <input type="text" name="raca" id="raca" placeholder="Digite a Raça" required>
            </div>
            <div>
                <label for="habilidade">Habilidade: </label>
                <input type="text" name="habilidade" id="habilidade" placeholder="Digite a Habilidade" required>
            </div>
            <div>
                <label for="equipamento">Equipamento: </label>
                <input type="text" name="equipamento" id="equipamento" placeholder="Digite o Equipamento" required>
            </div>
            <div>
                <label for="descricao">Descricao: </label>
                <input type="text" name="descricao" id="descricao" placeholder="Digite a Descrição" required>
            </div>
            
            <button id= "cadastro" type= "submit" class="btn fifth">Cadastrar</button>
            
        </form>
    </section>

    <footer>
        <p>
            < copyright 2021 by myself > 
        </p>
    </footer>
    <script src ="/js/script.js"></script>

</body>

</html>