<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stilo.css">
    <title>Cadastro</title>
</head>

<body>
    <nav class= "wrap">
            <!-- <img src="/img/pokebola-go.png" class="img-fluid gif" alt="Animação Pokebola"> -->
            
            <a href="/">Home | </a>
             
            <a href="criar">Cadastro | </a>
            
            <a href="detalhes">Detalhes | </a>

            <a href="animes">Animes | </a>
         
        </nav>
    
    <header>
        <article>
            <h1>Cadastrar</h1>
        </article>
    </header>
    <section id="inscrever">

        <form action="/new_criar" method="POST">
            <div>
                <label for="numero">Numero: </label>
                <input type="number" name="numero" id="numero" placeholder="Digite o numero" required>
            </div>

            <div>
                <label for="nome">Nome: </label>
                <input type="nome" name="nome" id="nome" placeholder="Digite o nome" required>
            </div>
            <div>
                <label for="tipo">Tipo: </label>
                <input type="text" name="tipo" id="tipo" placeholder="Digite o Tipo" required>
            </div>

            <!-- <div>
                <label for="imagem">Escolha o Pokemon na lista:</label>
                <select name="imagem">
                    <option value="/img/blastoise009.png" src="/img/blastoise00f9.png">blaistose</option>
                </select>
            </div> -->
            <div>
                <label for="imagem">Imagem: </label>
                <input type="imgagem" name="imagem" id="imagem" placeholder="Coloque a url da imagem" required>
            </div>
            <div>
                <label for="descricao">Descricao: </label>
                <input type="text" name="descricao" id="descricao" placeholder="Digite a Descrição" required>
            </div>
            <div>
                <label for="altura">Altura: </label>
                <input type="width" name="altura" id="altura" placeholder="Digite a Altura" required>
            </div>
            <div>
                <label for="peso">Peso: </label>
                <input type="height" name="peso" id="peso" placeholder="Digite o Peso" required>
            </div>
            <div>
                <label for="categoria">Categoria: </label>
                <input type="text" name="categoria" id="categoria" placeholder="Digite a Categoria" required>
            </div>
            <div>
                <label for="habilidade">Habilidade: </label>
                <input type="text" name="habilidade" id="habilidade" placeholder="Digite a Habilidade" required>
            </div>
            
            <button type= "submit" class="btn fifth">Cadastrar</button>
            <button type= "reset" class="btn fifth">Limpar</button>
            
            
        </form>
    </section>

    <footer>
        <p>
            < copyright 2021 by myself > 
        </p>
    </footer>
    <script src ="/js/script.js"></script>

</body>

</html>