<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class= "wrap">
        <!-- <img src="/img/pokebola-go.png" class="img-fluid gif" alt="Animação Pokebola"> -->
        
        <a href="/">Home | </a>
         
        <a href="criar">Cadastro | </a>
        
        <a href="detalhes">Detalhes | </a>

        <a href="animes">Animes | </a>
     
    </nav>
    <section>
        <p>
            ultilizaremos pra fazer o delete, mas ainda precisamos descobrir como vai ser integrado
        </p>
    </section>
</body>
</html>