<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalhes</title>
</head>

<body>
    <nav class= "wrap">
        <!-- <img src="/img/pokebola-go.png" class="img-fluid gif" alt="Animação Pokebola"> -->
        
        <a href="/">Home | </a>
         
        <a href="criar">Cadastro | </a>
        
        <a href="detalhes">Detalhes | </a>

        <a href="animes">Animes | </a>
     
    </nav>

    <header>
        <article>
            <h1>PAGINA PARA EDITAR AINDA PRECISAMOS DESCOBRIR UMA MELHOR FORMA DE FAZER</h1>
        </article>
    </header>
    
    <footer>
        <p>
            < copyright 2021 by myself > 
        </p>
    </footer>
    <script src ="/js/script.js"></script>

</body>

</html>