<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <link rel="stylesheet" type="text/css" href="css/styles.css">

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
    <title>DEMON SLAYER</title>

    <nav class= "wrap">
                    
            <a href="/">Home | </a>
             
            <a href="criar">Cadastro | </a>
            
            <a href="personagens">Personagens | </a>

            <a href="animes">Animes | </a>
            
           
         
        </nav>


</head>
<body>
    

<div class="nome text-center">
    <h1>EPISODIOS</h1>
</div>
   
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">DEMON SLAYER</a>
  
<ul class="nav nav-tabs">
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="true">Opçoes</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#1 Temporada">1° Temporada</a></li>
      <li><a class="dropdown-item" href="#2 Temporada">2° Temporada</a></li>
      <li><a class="dropdown-item" href="#acao">Episodios Assistidos</a></li>
      <li><hr class="dropdown-divider"></li>
      
    </ul>
  </li>
 
</ul>


  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/dem.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/de.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/d.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container bg-info"id="1 Temporada">
    <h2>1°TEMPORADA</h2>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-3 efeito">

      <img src="img/3.jpeg"class="img-fluid" alt="1 Temporada">
      
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">1° Episodio</a>
                                
       </div>
                                
       
       </div>

        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
     
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">2° Episodio</a>
                                
       </div>
                                
       
       </div>

        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
       
       <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">3° Episodio</a>
                                
       </div>
                                
       
       </div>

       <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
      
       <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">4° Episodio</a>
                                
       </div>
                                
       
       </div>

<br><br>
        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
      
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">5° Episodio</a>
   
    <br><br>                            
   
       </div>
                                
       
       </div>

</div>

<br><br>

<div class="container bg-info" id="2 Temporada">
    <h2>2° TEMPORADA</h2>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-3 efeito">

      <img src="img/3.jpeg"class="img-fluid" alt="1 Temporada">
      
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">1° Episodio</a>
                                
       </div>
                                
       
       </div>

        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
     
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">2° Episodio</a>
                                
       </div>
                                
       
       </div>

        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
       
       <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">3° Episodio</a>
                                
       </div>
                                
       
       </div>

       <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
      
       <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">4° Episodio</a>
                                
       </div>
                                
       
       </div>

<br><br>
        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
      
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">5° Episodio</a>
   
    <br><br>                            
   
       </div>
                                
       
       </div>

</div>

<br><br>

<div class="container bg-info" id ="acao">
    <h2>EPISODIOS ASSISTIDOS</h2>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-3 efeito">

      <img src="img/3.jpeg"class="img-fluid" alt="1 Temporada">
      
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">1° Episodio</a>
                                
       </div>
                                
       
       </div>

        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
     
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">2° Episodio</a>
                                
       </div>
                                
       
       </div>

        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
       
       <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">3° Episodio</a>
                                
       </div>
                                
       
       </div>

       <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
      
       <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">4° Episodio</a>
                                
       </div>
                                
       
       </div>

<br><br>
        <div class="col-md-3 efeito">
      <img src="img/3.jpeg"class="img-fluid" alt="...">
      
      <div class ="details">
      <a href="#" class="title"> Demon Slayer </a>
      <a href="#" class="name">5° Episodio</a>

</div>
    </div>
</div>
<section id="inscrever">
  

    <form method="POST">
        <div>
            <label for="numero">Numero: </label>
            <input type="text" name="ep_numero" id="numero" placeholder="Digite a Raça" required>
        </div>
        <div>
            <label for="nome">Nome: </label>
            <input type="nome" name="ep_name" id="nome" placeholder="Digite o nome do episodio" required>
        </div>
        <div>
            <label for="imagem">Imagem: </label>
            <input type="imagem" name="ep_ima_url" id="imagem" placeholder="Coloque a url da imagem" required>
        </div>
        <div>
            <label for="descricao">Descrição: </label>
            <input type="text" name="ep_descricao" id="descricao" placeholder="Coloque a descricao" required>
        </div>
                
        <button type= "submit" class="btn fifth">Cadastrar</button>
        
    </form>
</section>


   

<script src ="/js/index.js"></script>
</body>
</html>