<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> 

   
    <title>Home</title>
</head>
<body>
            <nav class= "wrap">
                    
            <a href="/">Home | </a>
             
            <a href="criar">Cadastro | </a>
            
            <a href="detalhes">Detalhes | </a>

            <a href="animes">Animes | </a>
         
        </nav>
    
        <header> 
            <a href="#">
                <img src="img/a.jpg" alt="Logo" class="logo" >
                </a>

            <form class="search-bar">
                  <input class="search-input" type="search" placeholder="search" aria-label="search"/>
                  <button type="submit" class ="search-btn">
                      <img src="img/player.png">
                  </button>

            </form>    
 </header>
            
 
             <div class="texto" >
             <a href="#">
             <text class="textoo">ASSISTA SUAS TEMPORADAS AQUI!!!
                           </a>
                          
              </text>
                   
           </div>
       

        
<div class="categories" >
    <section class="category-section">
    <button class="category active">Tudo</button>
    <button class= "category"> Videos</button>
    <button class= "category">Imagens</button>
</section>
    
</div>

<div class ="videos">
<section class ="video-section">

       <article class="video-container">

        <a href="#" class="thumbnail" data-duration="12:24">
        <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
    </a>
         <div class ="video-bottom-section">
             <a href="#">
                 <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
             </a>
         
        <div class ="video-details">
            <a href="#" class="video-title"> Demon Slayer </a>
            <a href="#" class="video-channel-name">1° Episodio</a>
        
            <div class ="video-metadata">
                <span>1.8M views</span>
                <span>3 wees ago</span>
            </div>
        </div>
         </div>
        
        </article>
        <article class="video-container">

            <a href="#" class="thumbnail" data-duration="12:24">
            <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
        </a>
             <div class ="video-bottom-section">
                 <a href="#">
                     <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                 </a>
             
            <div class ="video-details">
                <a href="#" class="video-title"> Demon Slayer </a>
                <a href="#" class="video-channel-name">2° Episodio</a>
            
                <div class ="video-metadata">
                    <span>1.8M views</span>
                    <span>3 wees ago</span>
                </div>
            </div>
             </div>
            
            </article>
            <article class="video-container">

                <a href="#" class="thumbnail" data-duration="12:24">
                <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
            </a>
                 <div class ="video-bottom-section">
                     <a href="#">
                         <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                     </a>
                 
                <div class ="video-details">
                    <a href="#" class="video-title"> Demon Slayer </a>
                    <a href="#" class="video-channel-name">3° Episodio</a>
                
                    <div class ="video-metadata">
                        <span>1.8M views</span>
                        <span>3 wees ago</span>
                    </div>
                </div>
                 </div>
                
                </article>
                <article class="video-container">

                    <a href="#" class="thumbnail" data-duration="12:24">
                    <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                </a>
                     <div class ="video-bottom-section">
                         <a href="#">
                             <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                         </a>
                     
                    <div class ="video-details">
                        <a href="#" class="video-title"> Demon Slayer </a>
                        <a href="#" class="video-channel-name">4° Episodio</a>
                    
                        <div class ="video-metadata">
                            <span>1.8M views</span>
                            <span>3 wees ago</span>
                        </div>
                    </div>
                     </div>
                    
                    </article>
                    <article class="video-container">

                        <a href="#" class="thumbnail" data-duration="12:24">
                        <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                    </a>
                         <div class ="video-bottom-section">
                             <a href="#">
                                 <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                             </a>
                         
                        <div class ="video-details">
                            <a href="#" class="video-title"> Demon Slayer </a>
                            <a href="#" class="video-channel-name">5° Episodio</a>
                        
                            <div class ="video-metadata">
                                <span>1.8M views</span>
                                <span>3 wees ago</span>
                            </div>
                        </div>
                         </div>
                        
                        </article>
                        <article class="video-container">

                            <a href="#" class="thumbnail" data-duration="12:24">
                            <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                        </a>
                             <div class ="video-bottom-section">
                                 <a href="#">
                                     <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                                 </a>
                             
                            <div class ="video-details">
                                <a href="#" class="video-title"> Demon Slayer </a>
                                <a href="#" class="video-channel-name">6° Episodio</a>
                            
                                <div class ="video-metadata">
                                    <span>1.8M views</span>
                                    <span>3 wees ago</span>
                                </div>
                            </div>
                             </div>
                            
                            </article>
                            <article class="video-container">

                                <a href="#" class="thumbnail" data-duration="12:24">
                                <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                            </a>
                                 <div class ="video-bottom-section">
                                     <a href="#">
                                         <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                                     </a>
                                 
                                <div class ="video-details">
                                    <a href="#" class="video-title"> Demon Slayer </a>
                                    <a href="#" class="video-channel-name">7° Episodio</a>
                                
                                    <div class ="video-metadata">
                                        <span>1.8M views</span>
                                        <span>3 wees ago</span>
                                    </div>
                                </div>
                                 </div>
                                
                                </article> 
                                <article class="video-container">

                                    <a href="#" class="thumbnail" data-duration="12:24">
                                    <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                                </a>
                                     <div class ="video-bottom-section">
                                         <a href="#">
                                             <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                                         </a>
                                     
                                    <div class ="video-details">
                                        <a href="#" class="video-title"> Demon Slayer </a>
                                        <a href="#" class="video-channel-name">8° Episodio</a>
                                    
                                        <div class ="video-metadata">
                                            <span>1.8M views</span>
                                            <span>3 wees ago</span>
                                        </div>
                                    </div>
                                     </div>
                                    
                                    </article>
                                    <article class="video-container">

                                        <a href="#" class="thumbnail" data-duration="12:24">
                                        <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                                    </a>
                                         <div class ="video-bottom-section">
                                             <a href="#">
                                                 <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                                             </a>
                                         
                                        <div class ="video-details">
                                            <a href="#" class="video-title"> Demon Slayer </a>
                                            <a href="#" class="video-channel-name">9° Episodio</a>
                                        
                                            <div class ="video-metadata">
                                                <span>1.8M views</span>
                                                <span>3 wees ago</span>
                                            </div>
                                        </div>
                                         </div>
                                        
                                        </article>
                                        <article class="video-container">

                                            <a href="#" class="thumbnail" data-duration="12:24">
                                            <img class="thumbnail-image" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                                        </a>
                                             <div class ="video-bottom-section">
                                                 <a href="#">
                                                     <img class="channel-icon" src="https://i.pinimg.com/236x/09/4d/6e/094d6e39abce867bb8cce443eb85ea07.jpg">
                                                 </a>
                                             
                                            <div class ="video-details">
                                                <a href="#" class="video-title"> Demon Slayer </a>
                                                <a href="#" class="video-channel-name">10° Episodio</a>
                                            
                                                <div class ="video-metadata">
                                                    <span>1.8M views</span>
                                                    <span>3 wees ago</span>
                                                </div>
                                            </div>
                                             </div>
                                            
                                            </article>
</section>
</div>
        
        <script src ="/js/script.js"></script>
</body>
</html>