<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> 

   
    <title>Home</title>
</head>
<body>
            <nav class= "wrap">
                    
            <a href="/">Home | </a>
             
            <a href="criar">Cadastro | </a>
            
            <a href="detalhes">Detalhes | </a>

            <a href="animes">Animes | </a>
            
            <a href="episodios">Episodios|</a>
         
        </nav>
    
        <header> 
            <a href="#">
                <img src="img/a.jpg" alt="Logo" class="logo" >
                </a>

            <form class="search-bar">
                  <input class="search-input" type="search" placeholder="search" aria-label="search"/>
                  <button type="submit" class ="search-btn">
                      <img src="img/player.png">
                  </button>

            </form>    
 </header>
            
 
             <div class="texto" >
             <a href="#">
             <text class="textoo">ASSISTA SUAS TEMPORADAS AQUI!!!
                           </a>
                          
              </text>
                   
           </div>
            
                               

        
        <script src ="/js/script.js"></script>
</body>
</html>