<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Home</title>
</head>
<body>
    <header class="header">
        <a href="/">Home|</a>
        <nav>
          <ul class="menu">
           
            <li><a href="animes">Animes|</a></li>
            <li><a href="criar">Cadastro|</a></li>
            <li><a href="personagens">Personagens|</a></li>
            <li><a href="episodios">Episodios|</a></li>


          </ul>
        </nav>
      </header>
  
      <h1>SESSION 2 COMING SOON</h1>
            
        

</div>
        
        <script src ="/js/script.js"></script>
</body>
</html>
