
  .row-nowrap {
   flex-flow: row nowrap;
 }
 .column-nowrap {
   flex-flow: column nowrap;
 }
 .row-wrap {
   flex-flow: row wrap;
 }
 
 /* Flex Container */
 .container {
   max-width: 500px;
   margin: 0 auto;
   display: flex;
   border: 5px solid #ccc;
 }
 /* Flex Item */
 .item {
   
   background: rgb(134, 133, 130);
   text-align: center;
   font-size: 20px;
   max-width: 500px;
   margin: 0 auto;
    
   
     
 }
 
 h1 {
   text-align: center;
   margin: 10px ;
   font-size: 10;
   font-weight: normal;
      background-size: 20%;
      background-attachment: fixed;
      padding: 10px 10px;
         color: black;
        
 
 }
 h2 {
   text-align: center;
   margin: 10px 0 0 0;
   font-size: 10px;
   font-weight: normal;
   margin: 20px 0 0 0;
    background-size: 20%;
      background-attachment: fixed;
      padding: 10px 10px;
         color: black;
 
 }
 
 
 p {
     background-size: 20%;
  background-attachment: fixed;
  padding: 10px 10px;
     color: yellow;
     text-align: center;
     font-size: 22px;
     
     
     
 }
 
 
 
 body{

  background-image: url("/img/ceu.png");   
  background-size: 100%;
  background-attachment: fixed;
  filter: invert(-150%);
 
  
  
 }
  
  section{
    background-size: 5%;
 background-attachment: fixed;
 padding: 10px ;
    color:blue;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    width:"20" ;
     height:"10";
     
    }
    div{
      width:"30" ;
     height:"20";
      text-align: center;
      margin: 10px;
      font-size: 20px;
      font-weight: normal;
      background-size: 20%;
      background-attachment: fixed;
      padding: 5px 10px;
      color: black;
      border-radius: 20px;
    }
    .imagens li img {
      width: 50px;
  }
  ul {
      list-style-type: none;
      float: left;
  }
  img {
      width: 100px;
  }
  #trocarimg {
      margin-left: 50px;
  }
  button {
    background-size: 20%;
 background-attachment: fixed;
 padding: 10px 10px;
    color:blue;
    text-align: justify;
    font-size: 10px;
  }
  input {
    background-size: 20%;
 background-attachment: fixed;
 padding: 10px 10px;
    color:blue;
    text-align: justify;
    font-size: 10px;
  }
  article{
    background-size: 20%;
 background-attachment: fixed;
 padding: 10px 10px;
    color:aliceblue;
    text-align: justify;
    font-size: 10px;
  }
  figure {
    width: 800px;
    text-align: center;
    background-size: 4100%;
  background-attachment: fixed;
  

}